irc:
  server: 'foo.example.com'
  channels:
    - "#foo"
  nick: botname

twitter:
  consumer_key: fooConsumerKey
  consumer_secret: fooSecretConsumerKey
  access_token: fooAccesToken
  access_token_secret: fooSecretAcessToken
  follow:
    - follow1
    - follow2

reddit:
  client_id: fooId
  client_secret: fooSecret
  user_agent: fooAgent
  following:
    - follow1

twitch:
  streamers:
    - twitch_follow1
    - twitch_follow2